@import url(.././variables.css);

.logo-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-title {
  font-family: var(--Primary-Font);
  font-size: 2rem;
  color: var(--Secondary-Color);
}

.logo-desc {
  color: var(--Secondary-Color);
  font-size: 1rem;
  font-family: var(--Primary-Font);
  width: 60%;
  text-align: center;
  line-height: 1.5rem;
}

.underline {
  width: 25px;
  height: 1px;
  background: var(--Primary-Color);
}

.logo-img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  border: 2px solid var(--Secondary-Color);
  margin-bottom: 50px;
}

.line {
  width: 100%;
  height: 1px;
  background: lightgrey;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .logo-about {
    margin-top: 50px;
  }

  .logo-img {
    width: 40%;
    margin-top: 40px;
  }
}
